<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <h3>Dashboard</h3>

    <a href="/users/logout">Logout</a>

    <h4>Hello <%= user %>, <br /></h4>

    <div>
      <h3>Start your work shift</h3>
      <br />
      <h4>Click the button below to clock in and start your work shift.</h4>


      <div class="card">
        <div class="container">
          <h4 class="user-name"><b><%= user %></b></h4>
          <p>Software Engineer 1</p>
          <button class="clock-in-out">Clock In</button>
          <button class="clock-in-out">Clock Out</button>
          <button class="start-end">Start Break</button>
          <button class="start-end">End Break</button>
        </div>
      </div>
      <h3><%= new Date();%></h3>
  </body>
</html>
