div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  background: rgb(255, 255, 255);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(44, 172, 240);
  transition: 0.3s;
  min-width: 350px;
  min-height: 350px;
}

.user-name {
  font-size: 35px;
  padding: 0;
  margin: 10px;
}

div.container {
  background-color: rgb(149, 206, 255);
  width: 180px;
}

button {
  margin: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 16px 16px;
}
